#todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #275229;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #357a38;
}

#input-box {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

#submit-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #0056b3;
}
