#todo-app {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  border: 2px solid #f082ac;
  position: relative;
}

#todo-app h1 {
  text-align: center;
  background-color: #af82f0;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
